<!-- <ion-header>
  <ion-toolbar>
    <ion-title>ap-about</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>
    <div >
      <h3 class="headcolor">Abhyasa Andhra Pradesh Self Learning App</h3>
      <p class="content">
        Abhyasa is the App created by the
        initiative of the Education Department
        of Andhra Pradesh to provide all their
        users with bite-sized content to learn
        new concepts in an interesting and
        easy way to run their ecosystem
        better.Students and parents can explore the different resources without logging in.
      </p>
    </div>
</ion-content>
<app-ap-footer></app-ap-footer>