.flex_box_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding-bottom: 10px;
    padding-top: 10px;
}

.flex_box {
    display: flex;
    justify-content: space-between;
}

.greenBorder {
    border: 2px solid green;
    border-radius: 90px;
    height: 85px;
    width: 85px;
}

.greenText {
    color: green;
}

.centerCad {
    margin: 0 20px;
    width: 70px;
    height: 70px;
}

.centerSection {
    margin: 5px 0;
    justify-content: center;
    align-items: center;
    display: flex;
}
.ministerCard  {
    overflow: hidden;
    justify-content: center;
    align-items: flex-end;
    display: flex;
  }